<div class="course-table-container">
  <table class="course-table">
    <thead>
    <tr>
      <th *ngFor="let column of columns">{{ column }}</th>
      <th *ngIf="actions.length > 0">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of data">
      <td *ngFor="let column of columns">
        {{ row[column] }}
      </td>
      <td *ngIf="actions.length > 0">
          <span *ngFor="let action of actions">
            <a (click)="action.callback(row)">{{ action.label }}</a>
          </span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
